:root{
    --background-color: #222;
    --tile-background-color: #fff;
    --text-color:#999;
    --separator-color: #444;
    --font: 15px/22px sans-serif;
    --border-radius: 10px;

    --spacing-xs:5px;
    --spacing-s:10px;
    --spacing-m:15px;
    --spacing-l:30px;
}

* {outline:none;}
html, body{width:100%;margin:0;padding:0;background:var(--background-color);color:var(--text-color);font:var(--font);-webkit-font-smoothing: antialiased;min-height: 100%;}
body{}
h1, h2, h3{font-weight:200;}
h2{font-size: 30px;line-height: 30px;margin: 15px 0;}
h3{font-size: 25px;line-height: 25px;margin: 10px 0;}
hr{background: var(--separator-color);height: 1px;border: none;margin: var(--spacing-l) 0;padding: 0;}
a{text-decoration:none}
input, button{-webkit-appearance:none;font:inherit;color:inherit;}

.container{max-width:1280px;width:100%;margin:0 auto;padding:15px 30px;box-sizing:border-box;}
    .container:first-child{margin-top:0;}
.section + .section{margin-top:15px;}

.tiles{display:flex;flex-wrap:wrap;margin:calc(var(--spacing-m) * -1) 0 0 calc(var(--spacing-m) * -1);}
    .tile{border-radius:var(--border-radius);overflow:hidden;background:var(--tile-background-color);max-height:200px;margin:var(--spacing-m) 0 0 var(--spacing-m);flex:0 auto;}
        .tile img{display:block;height:200px;}

@media screen and ( max-width: 800px ) {
    html, body{background:#111;}
    video{margin: 0 -15px 0 -15px;border-radius:0;width: calc(100% + 30px);}
    iframe{border-radius:10px}
    .container{padding-left:15px;padding-right:15px;}
    .covers{grid-template-columns:repeat(2, 1fr);grid-gap:0;margin:0 -15px;width:calc(100% + 30px);}
        .covers .cover{border-radius:0}
        .cover .star{opacity:1!important;}

    .movie-info{grid-template-columns:1fr;}
        .movie-info .cover{display:none;}
        .movie-info .button-group .button{flex:1 1 auto;}
}