:root{
    --background-color: #222;
    --tile-background-color: #fff;
    --text-color:#999;
    --separator-color: #444;
    --font: 15px/22px sans-serif;
    --font-size-icons: 30px;
    --border-radius: 10px;

    --spacing-xs:5px;
    --spacing-s:10px;
    --spacing-m:15px;
    --spacing-l:30px;
}

.tiles{display:flex;flex-wrap:wrap;margin:calc(var(--spacing-m) * -1) 0 0 calc(var(--spacing-m) * -1);}
    .tile{height:200px;position:relative;border-radius:var(--border-radius);overflow:hidden;background:var(--tile-background-color);max-height:200px;margin:var(--spacing-m) 0 0 var(--spacing-m);flex:0 auto;}
        .tile img, .tile video{display:block;height:200px;}
        .tile-icons{color:#fff9;position:absolute;bottom:var(--spacing-m);right:var(--spacing-m);font-size:var(--font-size-icons);line-height:var(--font-size-icons)}
        .tile:hover .tile-icons{display:none;}

.preview{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:1000;overflow:hidden;}
    .preview img, .preview video{object-fit:contain;position:absolute;top:0;left:0;width:100%;height:100%;}
    .preview .close{position:absolute;top:var(--spacing-m);right:var(--spacing-m);z-index:1;}