# Leave a newline before the end of this file, or crontab will quietly stop working
# Output to /tmp/stdout to show output in the docker logs
SHELL=/bin/bash

0 */6 * * * source /srv/cronenv; /usr/local/bin/python /usr/src/app/manage.py run_backups > /tmp/stdout 2>&1
