# Leave a newline before the end of this file, or crontab will quietly stop working
# Output to /tmp/stdout to show output in the docker logs
SHELL=/bin/bash

0 */6 * * * /usr/src/app/hourly-tasks.sh > /tmp/stdout 2>&1
